<html>

<head>
    <title>술 계산 모음</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div class="page-header">
    <h1>가양주 만들 때 필요한 몇가지 계산 <small>beta 1.0</small></h1>
    </div>

    <hr>

<div class="container">
    <h3>1. 술에 물을 넣어서 알콜 도수를 낮출 때 <small>(L)</small></h3>
    <div class="row">        
        <div class="col-xs-4">
            <label>현재 도수(%) :        </label>
            <div class="input-group">
            <input id="id_1_1" type="number" class="form-control"></div>
        </div>
        <div class="col-xs-4">
            <label>원하는 도수(%) :</label>
            <div class="input-group">
            <input id="id_1_2" type="number" class="form-control"></div>
        </div>
        <div class="col-xs-4">
            <label>술의 양(L) :</label>
            <div class="input-group">
            <input id="id_1_3" type="number" class="form-control"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" >
            <br><button class="btn btn-default btn-block btn-lg" onclick=fun_1()>계산</button>
        </div>
        <div class="col-lg-6" >
        <div class="card-body" >
            술에 넣어야 하는 물의 양(L) : <span id="an_1"></span>
        </div>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <h3>2. 두가지 술을 혼합할 때</h3>
        <div class="row">
            <div class="col-xs-6">
                <label>술A의 도수(%):</label>
                <div class="input-group">
                <input id="id_2_1" type="number" class="form-control"></div>
            </div>
            <div class="col-xs-6">
                <label>술B의 도수(%):</label>
                <div class="input-group">
                <input id="id_2_3" type="number" class="form-control"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>원하는 도수(%):</label>
                <div class="input-group">
                <input id="id_2_2" type="number" class="form-control"></div>
            </div>
            <div class="col-xs-6">
                <label>전체 술의 양(L):</label>
                <div class="input-group">
                <input id="id_2_4" type="number" class="form-control"></div>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-12">
                <br><button class="btn btn-default btn-block btn-lg" onclick=fun_2()>계산</button>
            </div>
            </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="card-body">
                    술A의 양(L) : <span id="an_2_1"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="card-body">
                    술B의 양(L) : <span id="an_2_2"></span>
                </div>
            </div>
        </div>
</div>

<hr>

<div class="container">
    <h3>3. 과실주 만들 때 당도를 높여야 할 때 <small>(Kg)</small></h3>
    <div class="row">
        <div class="col-xs-6">
        <label>현재 당도(Brix):</label>
        <div class="input-group">
        <input id="id_3_1" type="number" class="form-control"></div></div>
        <div class="col-xs-6">
        <label>원하는 당도(Brix):</label>
        <div class="input-group">
        <input id="id_3_2" type="number" class="form-control"></div></div>
    </div>
    <div class="row">
        <div class="col-xs-6">
        <label>과실의 양(L):</label>
        <div class="input-group">
        <input id="id_3_3" type="number" class="form-control"></div></div>
        <div class="col-xs-6">
        <label>과실의 수분 함량:</label>
        <div class="input-group">
        <input id="id_3_4" type="number" class="form-control"></div>
    </div>
</div>
    <div class="row">
        <div class="col-lg-6" >
            <br><button class="btn btn-default btn-block btn-lg" onclick=fun_3()>계산</button>
        </div>
        <div class="col-lg-6" >
    <div class="row">
            <div class="card-body">
                설탕량(kg) : <span id="an_3"></span>
            </div>
        </div>
    </div>
    </div>
</div>

<hr>

<div class="container">
    <h3>4. 당도가 높은 청에 물을 넣을 때 <small>(L)</small></h3>
    <div class="row">
        <div class="col-xs-6">
        <label>현재 당도(Brix):</label>
        <div class="input-group">    
        <input id="id_4_1" type="number" class="form-control"></div>
        </div>
        <div class="col-xs-6">
        <label>원하는 당도(Brix):</label>
        <div class="input-group">    
        <input id="id_4_2" type="number" class="form-control"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" >
        <label>중량(L):</label>
        <div class="input-group">    
        <input id="id_4_3" type="number" class="form-control"></div>
        </div>
        <div class="col-lg-6" >
            <br><button class="btn btn-default btn-block btn-lg" onclick=fun_4()>계산</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" >
            <div class="card-body">
            청에 넣어야 할 물의 양(L) : <span id="an_4"></span>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container">

<h3>5. 두가지 이상의 술을 섞을 때 <small>(%)</small></h3>
<div class="row">
        <div class="col-xs-6">
            <label>A양(L)</label>
            <div class="input-group">
            <input id="id_5_A1" type="number" class="form-control"></div>
        </div>
        <div class="col-xs-6">
            <label>A알콜 도수(%)</label>
            <div class="input-group">
            <input id="id_5_A2" type="number" class="form-control"></div>
        </div>
    </div>
<div class="row">
        <div class="col-xs-6">
            <label>B양(L)</label>
            <div class="input-group">
            <input id="id_5_B1" type="number" class="form-control"></div>
        </div>
            <div class="col-xs-6">
            <label>B알콜 도수(%)</label>
            <div class="input-group">
            <input id="id_5_B2" type="number" class="form-control"></div>
        </div>
    </div>
<div class="row">
        <div class="col-xs-6">
            <label>C양(L)</label>
            <div class="input-group">
            <input id="id_5_C1" type="number" class="form-control"></div>
        </div>
            <div class="col-xs-6">
            <label>C알콜 도수(%)</label>
            <div class="input-group">
            <input id="id_5_C2" type="number" class="form-control"></div>
        </div>
    </div>
<div class="row">
        <div class="col-xs-6">
            <label>D양(L)</label>
            <div class="input-group">
            <input id="id_5_D1" type="number" class="form-control"></div>
        </div>
        <div class="col-xs-6">
            <label>D알콜 도수(%)</label>
            <div class="input-group">
            <input id="id_5_D2" type="number" class="form-control"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" >
            <br><button class="btn btn-default btn-block btn-lg" onclick=fun_5()>계산</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card-body">
                전체 술의 양(L) : 
                <span id="an_5_1"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card-body">
                알콜 도수(%) : 
                <span id="an_5_2"></span>
            </div>
        </div>
    </div>
</div>
<hr>

<script>
function fun_1(){
var x1=document.getElementById("id_1_1").value;
var x2=document.getElementById("id_1_2").value;
var x3=document.getElementById("id_1_3").value;

var ans=(x1-x2)/x2*x3
document.getElementById("an_1").innerHTML=ans.toFixed(1);
}

function fun_2(){
var x1=document.getElementById("id_2_1").value;
var x2=document.getElementById("id_2_2").value;
var x3=document.getElementById("id_2_3").value;
var x4=document.getElementById("id_2_4").value;

var ans1=(x2-x3)/(x1-x3)*x4
var ans2=(x1-x2)/(x1-x3)*x4

document.getElementById("an_2_1").innerHTML=ans1.toFixed(1);
document.getElementById("an_2_2").innerHTML=ans2.toFixed(1);
}

function fun_3(){
var x1=document.getElementById("id_3_1").value;
var x2=document.getElementById("id_3_2").value;
var x3=document.getElementById("id_3_3").value;
var x4=document.getElementById("id_3_4").value;

var ans=(x2-x1)/(100-x2)*x3*x4
document.getElementById("an_3").innerHTML=ans.toFixed(1);
}

function fun_4(){
var x1=document.getElementById("id_4_1").value;
var x2=document.getElementById("id_4_2").value;
var x3=document.getElementById("id_4_3").value;

var ans=(x1-x2)/x2*x3
document.getElementById("an_4").innerHTML=ans.toFixed(1);
}

function fun_5(){
var x11=document.getElementById("id_5_A1").value;
var x12=document.getElementById("id_5_A2").value;
var x21=document.getElementById("id_5_B1").value;
var x22=document.getElementById("id_5_B2").value;
var x31=document.getElementById("id_5_C1").value;
var x32=document.getElementById("id_5_C2").value;
var x41=document.getElementById("id_5_D1").value;
var x42=document.getElementById("id_5_D2").value;

var ans1=x11*1+x21*1+x31*1+x41*1
var ans2=((x11*x12)+(x21*x22)+(x31*x32)+(x41*x42))/(x11*1+x21*1+x31*1+x41*1)

document.getElementById("an_5_1").innerHTML=ans1.toFixed(1);
document.getElementById("an_5_2").innerHTML=ans2.toFixed(1);
}

</script>

</body>

</html>

<!-- 업데이트 해야할 것,
1. 세부사항 조정 추가 : 소수점 조절
2. 3번 계산의 과실의 수분함량 표 추가
3. 계산 이력
4. 텍스트 내용 수정
5. 계산에 대한 그림
6. 전체적인 타이포그라피 조정
7. 계산 안내를 위한 그래픽
8. 계산 결과를 나타내는 그래픽
9. 5번 계산식에 갯수 추가 가능하게 입력 폼 수정
 -->